@font-face {
  font-family: "doctorpunk";
  src:
    url("/font/doctorpunk.otf") format("opentype")
}

@font-face {
  font-family: "RookiePunk";
  src:
    url("/font/RookiePunk.otf") format("opentype")
}