@font-face {
    font-family: 'doctorpunk';
    src: url(/font/doctorpunk.ttf) format('truetype');
}

@font-face {
  font-family: "RookiePunk";
  src:
    url("/font/RookiePunk.otf") format("opentype")
}